@model EndUser


<!-- title Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Edit Profile</h6>
            <h1 class="mb-5">
                @Model.Username <span class="text-primary text-uppercase">
                </span>
            </h1>
        </div>
        <!-- title End -->
        <!-- Booking Start -->
        <div asp-validation-summary="All"></div>
        <div class="container-xxl py-5">
            <div class="container">

                <div class="row g-5">

                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form method="post" asp-action="EditProfileDetails" enctype="multipart/form-data">

                                <div class="row g-3">

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="first name" placeholder="First Name" asp-for="@Model.Firstname" required />
                                            @*pattern="[A-Z][a-z]*" title="Please enter the fisrt character capital and the other character small"/>*@
                                            <label for="first name">First Name</label>
                                            <span asp-validation-for="Firstname " class=" test-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="last name" placeholder="Last Name" asp-for="@Model.Lastname" required /> @*pattern="[A-Z][a-z]*" title="Please enter the fisrt character capital and the other character small"/>*@
                                            <label for="last name">Last Name</label>
                                            <span asp-validation-for="Lastname " class=" test-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating" id="email" data-target-input="nearest">
                                            <input type="email" class="form-control datetimepicker-input" id="Email" placeholder="email" asp-for="@Model.Email" data-target="#date3" data-toggle="datetimepicker" required />
                                            <label for="email">Email</label>
                                            <span asp-validation-for="Email " class=" test-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating" id="phone num" data-target-input="nearest">
                                            <input type="tel" class="form-control datetimepicker-input" id="Phone Number" placeholder="phone num" asp-for="@Model.PhoneNumber" data-target="#date3" data-toggle="datetimepicker" pattern="[0-9]{11}" title="Please enter exactly 11 digits" required/>
                                            <label for="phone num">Phone Number</label>
                                            <span asp-validation-for="PhoneNumber " class=" test-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating" id="national id" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="National ID" placeholder="national id" asp-for="@Model.ID" data-target="#date3" data-toggle="datetimepicker" required inputmode="numeric" pattern="[0-9]{14}" autocomplete="cc-number" maxlength="14" title="Please enter exactly 14 digits"/>
                                            <label for="national id">National ID</label>
                                            <span asp-validation-for="ID " class=" test-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating" id="user name" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="user name" placeholder="user name" asp-for="@Model.Username" data-target="#date3" data-toggle="datetimepicker" required />
                                            <label for="user name">User Name</label>
                                            <span asp-validation-for="Username" class=" test-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="password" placeholder="Password" asp-for="@Model.Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="The Password must be at least 8 characters and contains at least one of all of this (lowercase character, uppercase, digit, special character">
                                            <label for="password">Password</label>
                                            <span asp-validation-for="Password " class=" test-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input class="form-control" type="file" id="imageInput" name="img_file" asp-for="@Model.Image">
                                            <label for="imageInput">Image</label>
                                        </div>
                                    </div>

                                  
                                    <input class="btn btn-primary py-3 px-5 mt-2" type="submit" value="Save Edits" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
